.A {
  text-decoration: underline;
  background: none;
  padding: 0;
  text-decoration-color: var(--color-primary);
}

.A:hover {
  text-decoration: line-through;
  text-decoration-color: var(--color-primary);
}
