.AvailableForHire {
  position: absolute;
  top: 0;
  right: -2rem;
  display: flex;
  display: block;
  width: 13vw;
  min-width: 130px;
  max-width: 260px;
  height: 10.4vw;
  min-height: 104px;
  max-height: 208px;
  text-align: center;
}

.AvailableForHire * {
  text-decoration: underline;
}

.AvailableForHire:hover * {
  text-decoration: none;
}

.Foreground {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: rotate(20deg);
  transform-origin: center center;
}

.Background {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 13vw;
  min-width: 130px;
  max-width: 260px;
  height: 10.4vw;
  min-height: 104px;
  max-height: 208px;
  transform: skew(45deg) translate(0%, -50%);
}

.Background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border: 1px solid;
  border-radius: 50%;
  background: white;
  transform: skew(-45deg);
}

.Background::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -80%;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  background: var(--color-primary);
  transform: skew(-45deg);
  mask: var(--stripes);
}
