.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Content p,
.Content span {
  width: 100%;
  font-weight: normal;
  display: block;
  font-size: var(--ft-size-body);
  padding-bottom: var(--space-md);
  max-width: 700px;
}

.Content span strong {
  text-decoration: line-through;
}

.Content p:first-child,
.Content span:first-child {
  font-size: var(--ft-size-lg);
}

.Content small {
  width: 100%;
  white-space: nowrap;
  display: flex;
  font-size: var(--ft-size-sm);
  flex-wrap: wrap;
  padding-bottom: var(--space-xs);
}

.Content strike {
  text-decoration: line-through;
  text-decoration-color: var(--color-primary);
}

.Content a {
  text-decoration: underline;
  background: none;
  padding: 0;
  text-decoration-color: var(--color-primary);
}
