.Content {
}

.Content p,
.Content span,
.Content li {
  width: 100%;
  font-weight: normal;
  display: block;
  padding-bottom: var(--space-md);
  max-width: 800px;
}

.Content ul {
  padding-bottom: var(--space-md);
}

.Content li,
.Content li > p,
.Content li > span {
  padding-bottom: 0;
}


.Content span strong {
  text-decoration: line-through;
}

.Content blockquote > p,
.Content blockquote > span {
  font-size: var(--ft-size-lg);
}

.Content small {
  width: 100%;
  white-space: nowrap;
  display: flex;
  font-size: var(--ft-size-sm);
  flex-wrap: wrap;
  padding-bottom: var(--space-xs);
}

.Content strike {
  text-decoration: line-through;
  text-decoration-color: var(--color-primary);
}

.Content a {
  text-decoration: underline;
  background: none;
  padding: 0;
  text-decoration-color: var(--color-primary);
}

.Content section {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}


@media (min-width: 701px) {
  .Content section {
    grid-template-columns: 1fr 1fr;
  }
}


.Content figure {
  border: 1px solid;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  padding: 1px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  margin-bottom: var(--space-md);
}


@media (min-width: 701px) {
  .Content figure {
    grid-template-columns: 1fr 1fr;
  }
}

.Content figure img:nth-child(1) {
  grid-column: 1 / span 2;
}


.Content img {
  border-radius: 4px;
  padding: 2px;
  background: white;
  overflow: hidden;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 701px) {
  .Content section {
  }
}

.Content section > figure,
.Content section > article {
  padding: var(--space-lg);
}

.Content img {
  max-width: 100%;
}

