.Footer {
  background-color: white;
  top: 4px;
  position: relative;
}

@media (min-width: 501px) {
  .Footer {
    background: none;
  }
}

.copyright {
  display: flex;
  width: 100%;
  align-items: center;
}
