.Image {
  background: var(--color-primary);
  padding-bottom: 1rem;
}

.Image img {
  opacity: 1;
  max-width: 100%;
  height: auto;
  display: block;
}

.monochrome img {
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(200%);
}
