.ListItem {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  white-space: nowrap;
  width: 50%;
}

.ListItem a {
  transform: translateX(01em);
}

.ListItem a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1em;
  height: 0.1rem;
  background: var(--color-primary);
  transform: translate(-1em, -50%);
  transform-origin: left center;
}
