.Project {
  overflow: hidden;
  display: flex;
  position: relative;
  border: 1px solid;
  border-radius: 4px;
  border-bottom: 0;
  background: white;
  margin-bottom: -4px;
  margin-left: 4px;
  margin-right: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.Link {
  text-decoration: none;
  align-items: center;
  display: flex;
  width: 100%;
  padding-top: var(--space-xs);
  padding-right: calc(var(--space-md) - 4px);
  line-height: 3;
  height: 6px;
  gap: 12px;
  opacity: 0;
  align-items: baseline;
  position: relative;
  transition: padding 0.1s ease-in-out;
}

.Link * {
  position: relative;
}

.Link:hover {
  text-decoration: none;
}

.open,
.active {
  opacity: 1;
  height: auto;
  padding-bottom: var(--space-xs);
}

.inActive:hover {
  cursor: not-allowed;
}

.open span:nth-child(3) span {
  text-decoration: underline;
}

.active span:nth-child(3) span {
  text-decoration: none;
}

.inActive span:nth-child(2) span {
  text-decoration: none;
}

.Background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: var(--space-md);
  transition: transform 0.2s ease-in-out;
}

.active.open {
  padding-bottom: calc(var(--space-sm) + 6px);
  cursor: default;
}

.open:not(.inActive):hover {
  padding-bottom: calc(var(--space-sm) + 6px);
}

.active.open .Background {
  transform: translateY(-100%);
}

.open:not(.inActive):hover .Background {
  transform: translateY(-100%);
}

@media (min-width: 701px) {
  .Project {
    margin-left: var(--space-md);
    margin-right: var(--space-md);
  }

  .Project:last-of-type {
    border-bottom: 1px solid;
    margin-bottom: 0;
  }
}

@media (min-width: 1001px) {
  .Project {
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);
  }

  .Link {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
}

.icons {
  display: flex;
  width: var(--space-xl);
  gap: 4px;
  justify-content: flex-end;
}

.pending {
  padding-left: var(--space-sm);
  flex: 1;
}

.pill {
  border: 1px solid;
  border-radius: 4px;
  padding: 4px var(--space-sm);
  line-height: 1;
}
