.Project {
  overflow: hidden;
  display: flex;
  position: relative;
  border: 1px solid;
  border-radius: 4px;
  border-bottom: 0;
  background: white;
  margin-bottom: -4px;
  margin-left: 4px;
  margin-right: 4px;
  flex-direction: column;
  width: 40%;
}
/*
.Project:last-of-type {
  border-radius: 4px 4px 0 0;
} */

.Link {
  display: block;
  width: 100%;
  padding-top: var(--space-xs);
  padding-left: calc(var(--space-md) - 4px);
  padding-right: calc(var(--space-md) - 4px);
  line-height: 3;
}

.hasActive {
  height: 6px;
}

.hasActive.active {
  height: auto;
}

@media (min-width: 701px) {
  .Project {
    margin-left: var(--space-md);
    margin-right: var(--space-md);
  }
}

@media (min-width: 1001px) {
  .Project {
    margin-left: var(--space-lg);
    margin-right: var(--space-lg);
  }

  .Link {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
}
