.Text {
  width: 100%;
  font-weight: 400;
  display: block;
  font-size: var(--ft-size-body);
}

.small {
  width: auto;
  white-space: nowrap;
  display: flex;
  font-size: var(--ft-size-sm);
  flex-wrap: wrap;
}

.large {
  width: 100%;
  text-indent: 0;
  font-size: var(--ft-size-lg);
}

.pad {
  padding-bottom: var(--space-md);
}

.clamp {
  font-size: 1.5rem;
}

