.Wordmark {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  z-index: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
}
